/* style.css */

/* Header */
.header {
    background-color: #000;
}

.navbar {
    justify-content: space-between;
}

.user-nav {
    justify-content: flex-end;
}

/* Table */
.table {
    text-align: center;
}

.custom-hover {
    background-color: #000;
}

/* Pagination */
.pagination {
    text-align: center;
}

.page-link {
    color: #000;
}

/* Search Bar */
.search-bar {
    border-color: #000;
    color: #000;
}

