HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### properties ###
src/main/resources/application-db.properties

### resources ###

src/main/resources/templates/footer.html
src/main/resources/templates/index.html
src/main/resources/templates/**/
!src/main/resources/templates/board

src/main/resources/static/css/**
!src/main/resources/static/css/board_control.css
!src/main/resources/static/css/board_event_card.css

src/main/resources/static/js/**
!src/main/resources/static/js/finduser.js
!src/main/resources/static/js/myinfo.js
!src/main/resources/static/js/signup.js
!src/main/resources/static/js/user_out.js

src/main/resources/static/img

.gitignore
