<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- common.css -->
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
    <!-- login.css -->
    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{/css/login.css}">
    <!-- myinfo.css -->
    <link rel="stylesheet" href="../../static/css/myinfo.css" th:href="@{/css/myinfo.css}">
    
    <title>회원정보</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- header -->
    <header th:replace="fragment/header :: header"></header>


    <!-- content -->
    <section id="wrap">
        <div class="container px-5">
            <div class="row d-flex py-5">
                
                <div class="col-xl-3">
                    <div class="card"> 
                        <!-- 사이드 메뉴 -->
                        <div class="card-header bg-black text-white">메뉴</div>
                        <div class="card-body" id="mypage_menu">
                            <a class="my-3 sidebar_link" href="myinfo.html" th:href="@{/user/myinfo}">회원정보</a>
                            <a class="my-3 sidebar_link" href="myticket.html" th:href="@{/user/myticket}">구매내역</a>
                            <a class="my-3 sidebar_link" href="myquestion.html" th:href="@{/user/myqna}">문의내역</a>
                            <a class="my-3 sidebar_link" href="user_out.html" th:href="@{/user/out}">회원탈퇴</a>
                        </div>
                    </div>
                </div>

                <!-- 메인 -->

                <div class="col-xl-9">

                    <div class="card mb-4">
                        <div class="card-header bg-black text-white" id="mypage_header">회원 정보</div>
                        <div class="card-body">

                            <!-- 회원정보 -->
                            <form th:object="${user}">
                                <div class="row gx-3 mb-3">
                                    <!-- user email -->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="user_login_id">이메일 ( Login ID )</label>
                                        <input class="form-control" id="user_login_id" type="text" readonly="readonly"
                                               placeholder="이메일을 입력해주세요" th:value="*{loginId}">
                                    </div>

                                    <div class="col-md-6">
                                        <a href="../accounts/pw_reset.html" class="btn btn-primary text-white mt-4" th:href="@{/user/reset}">
                                            비밀번호 재설정
                                        </a>
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- name -->
                                    <div class="col-md-5">
                                        <label class="small mb-1" for="user_name">이름</label>
                                        <input class="form-control" id="user_name" type="text" readonly placeholder="이름을 입력해주세요." th:value="*{name}">
                                    </div>
                                    <!-- nickname -->
                                    <div class="col-md-5">
                                        <label class="small mb-1" for="user_nickname">별명</label>
                                        <input class="form-control" id="user_nickname" type="text"
                                               readonly placeholder="별명은 다른 사용자와 소통하는 이름입니다." th:value="*{nickname}">
                                    </div>
                                    <div class="col-md-2 mt-4" >
                                        <button class="btn btn-primary" type="button" id="nickNameCk">중복체크</button>
                                    </div>
                                </div>
                                <!-- 주소 -->
                                <div class="mb-3">
                                    <label class="small mb-1" for="user_addr">주소</label>
                                    <input class="form-control" id="user_addr" type="text"
                                           readonly placeholder="주소를 입력해주세요." th:value="*{address}">
                                </div>
                                <!-- 연락처 -->
                                <div class="mb-3">
                                    <label class="small mb-1" for="user_tel">연락처</label>
                                    <input class="form-control" id="user_tel" type="text" readonly
                                           placeholder="연락처를 입력해주세요." th:value="*{tel}">
                                </div>
                                <!-- row -->
                                <div class="row gx-3 mb-4">
                                    <!-- age -->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="user_age">나이</label>
                                        <input class="form-control" id="user_age" type="number" readonly placeholder="나이를 입력해주세요." th:value="*{age}">
                                    </div>
                                    <!-- gender -->
                                    <div class="col-md-6 mt-4">
                                        <label class="small mb-1" for="new_gender_male">성별</label>
                                        <input class="chk_input new_gender" type="radio" name="gender"  id="new_gender_male" th:checked="*{gender == true}"> 남성
                                        <label class="small mb-1" for="new_gender_female"></label>
                                        <input class="chk_input new_gender" type="radio" name="gender" id="new_gender_female" th:checked="*{gender == false}"> 여성
                                    </div>
                                </div>
                                <!-- 광고 승인여부 -->
                                <div class="my-3 text-center mb-4">
                                    <label>Hot and Funny의 다양한 이벤트 소식을 전해드립니다.</label>
                                        <input class="chk_input" type="radio" name="ch_marketing" value="y"> 수신
                                        <input class="chk_input" type="radio" name="ch_marketing" value="n" checked> 수신거부
                                </div>
                                
                                <hr>
                                
                                <div id="modifyBox">
                                    <button class="btn btn-primary" type="button" id="modifyBtn">수정</button>
                                </div>
                                <div id="saveBox">
                                    <button class="btn btn-primary" type="button" id="saveBtn">등록</button>
                                </div>
                            </form>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </section>

    <!-- footer -->
    <footer th:replace="fragment/white_footer :: footer"></footer>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- mypage js -->
    <script src="../../static/js/myinfo.js" th:src="@{/js/myinfo.js}"></script>

</body>
</html>