@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {

    width: 630px !important;
    height: 430px !important;

}

.mini-logo {

    width: 10%
}

.calc-icon {

    
}