@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {
    font-family: 'Pretendard', 'sans-serif';
    overflow-x: hidden;
}

.post-img {
    width : 100%;
    height : 900px;
    display: block;
}
.concert-list {
    font-size : 1rem;
    font-weight : 500;
}
.concert-list p{
    min-height: 26px;
    /* border: 1px solid black; */

}

/* <------- Calendar 시작 -------> */
.calendar-form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.year-month {
    font-size: 30px;
    font-weight: 500;
    margin-left : 10px;
 

}
@media (max-width: 1150px){
    .year-month{
        font-size : 1.5rem;
    }
}
/* ///////////////버튼 삭제//////////////// */
/* .c-nav {
    display: flex;
    height : 45px;
    outline: 1px solid #333333;
    border-radius: 5px;
    margin-right : 10px;
    background-color: #3333;
}

.c-nav-btn {
    width : 28px;
    height : 45px;
    color: white;
    border: none;
    font-size: 100%;
    background-color: transparent;
    cursor: pointer;
}
.go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
} */
/* /////////////버튼삭제 끝/////////// */
.days {
    display: flex;
    /* margin: 25px 0 10px; */
    margin: 5% 0 1%;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    border-top: 1px dotted #333333;
    border-right: 1px dotted #333333;
}

.date{
    width: calc(100%/7);
    padding: 5%;
    text-align: center;
    border-bottom: 1px dotted #333333;
    border-left: 1px dotted #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1){
    color: #d13e3e;
}
.day:nth-child(7n),
.date:nth-child(7n){
    color: #396EE2;
}

.other {
    opacity: 0.3;
}

#today {
    position: relative;
    color: #FFFFFF;
}

#today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    width: 25px;
    height: 25px;
    display: block;
    background-color: #790fdd;
    border-radius: 50%;
    content: '';
}

/* 이벤트 날짜 표시 */
.selected {
    position: relative;
}
.selected::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
    width : 100%;
    height : 100%;
    display : block;
    background-color : #0D6EFD;
    opacity : 0.5;
    content: "";
}
.selected:hover{
    cursor : pointer;
    background-color: #405bb5;
    color: white;
}
.choice {
    position: relative;
    color: white;
}
.choice::before {
    position: absolute;
    background: black;
    z-index: -1;
}
.choice span {
    color : white;
}


/* <-------Calendar 끝 ------->*/

.btn-reservation {
    width : 100px;
    height : 50px;
    font-size : 1rem;
    font-weight : 700;
    margin-bottom : 10px;
    border : 1px solid black;
    background-color: white;
}

.btn-reservation:hover {
    cursor : pointer;
    background-color: black;
    color : white;
}