@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/


/* 좌측 네비바 */
.left-nav div :hover{
  font-size: 1.5rem;
  background-color: grey;
  color: white;
}

@media screen and (max-width: 1200px) {
    .left-nav {
      min-width: 80px; /* 작은 화면 크기에 대한 최소 너비 설정 */
    }
  }


/*----- FOOTER -----*/