@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/

.left-nav{
    color: #444444d8;
}

.left-nav div{
    width: 40%;
    border: 1px solid #444444d8;

    border-radius: 25px;
}
.left-nav div a{
    width: 100%;

}

.left-nav div a:hover{
    font-size: 1.25rem;
    border-radius: 25px;
}


/* 본문 왼쪽 테이블 작업공간 
.content .left */
.content .left{
    /* border: 5px solid pink; */
    width: 45%;
}


.content .left table th{
    width: 10%;
    border: 1px solid black;
}

.content .left tr{
    border: 1px solid black;
}










.content .right .div1 div {
    width: 60%;
    border: 1px solid black;
}

.div2, .div3,.div5 {
    border: 1px solid black;
}

/*----- FOOTER -----*/


.content-box{
    height: 50rem;
}