@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/

.left-nav div :hover{
    font-size: 1.5rem;
    background-color: grey;
    color: white;
}


/* 본문 왼쪽 테이블 작업공간 
.content .left */
.content .left{
    /* border: 5px solid pink; */
    width: 45%;
}


.content .left table th{
    width: 10%;
    border: 1px solid black;
}

.content .left tr{
    border: 1px solid black;
}










.content .right .div1 div {
    width: 60%;
    border: 1px solid black;
}

.div2, .div3,.div5 {
    border: 1px solid black;
}

.left-nav div :hover{

    background-color: grey;
    color: white;
}

/*----- FOOTER -----*/


.content-box{
    height: 50rem;
}