@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');


body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/




.left-nav div :hover{
    font-size: 1.5rem;
    background-color: grey;
    color: white;
}



#donutChart{
    width: 50%;
}

#secondDonutChart{
    width: 50%;
}


/*----- FOOTER -----*/