@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/

.main-box{
    /* border: 5px solid red; */
}

.left-nav{



    /* border: 3px solid red; */
}

.left-nav a {
    margin-top: 20%;
    border: 1px solid black;
}



.content{



    /* border: 1px solid blue; */

}

.content .left{
    border: 5px solid pink;
    width: 45%;
}

.content .right{
    border: 5px solid yellow;
    width: 45%;
}

.content .left table {

    /* border: 3px solid green; */

}

.content .left table th{
    width: 10%;
    border: 1px solid black;
}

.content .left tr{
    border: 1px solid black;
}

.content .right_left table td{

}

.content .right div{
    border: 1px solid red;
    height: 20%;
    text-align: center;
}

.content .right .div1{
    height: 10%;
    display: flex;
}

.content .right .div1 p{

    height: 100%;
    border: 3px solid green;
}


.content .right .div1 p:first-child{
    width: 60%;
}

.content .right .div1 p:last-child{
    margin-left: 5%;
    width: 35%;
}






.content .right p:nth-child(5){
    /* border: 3px solid red; */
    margin-top: 5%;
}



.content .right .div2{
    margin-top: 2%;
    height: 35%;
}

.content .right .div3{
    margin-top: 1%;
    height: 15%;
}

.content .right .div4{
width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    height: 10%;
}

.content .right .div4 p{

    width: 20%; height: 100%;
    border: 4px solid black;
    font-size: 0.8rem;
    text-align: center;

}

.content .right .div4 p:first-child{
    margin-left: 30%;
}


.content .right .div5{

    height: 10%;
}


/*----- FOOTER -----*/