@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/

/* 좌측 네비바 */
.left-nav a {
    margin-top: 20%;
    /* border: 1px solid black; */
}


/* 본문 왼쪽 테이블 작업공간 
.content .left */
.content .left{
    border: 5px solid pink;
    width: 45%;
}



.content .left table {

    /* border: 3px solid green; */

}

.content .left table th{
    width: 10%;
    border: 1px solid black;
}

.content .left tr{
    border: 1px solid black;
}






/* 본문 오른쪽 환불 상세정보 작업공간
.content .right */

.content .right{
    border: 1px solid red;
}

.content .right div{
    border: 3px solid black;
}



.content .right .div1 div {
    width: 60%;
    border: 3px solid purple;
}

.content .right .div2 {
    border: 5px solid red;

}
/* .content .right{
    border: 5px solid yellow;
    width: 45%;

}



.content .right div{
    border: 1px solid red;
}

.content .right .div1{
    border: 5px solid black;
    
}

.content .right .div1 p{
    border: 3px solid green;
}


.content .right .div1 p:first-child{
    width: 60%;
}






.content .right p:nth-child(5){
    border: 3px solid red;
    margin-top: 5%;
}



.content .right .div2{
    margin-top: 2%;
    height: 35%;
}

.content .right .div3{
    margin-top: 1%;
    height: 15%;
}

.content .right .div4{
width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    height: 10%;
}

.content .right .div4 input{

    width: 20%; height: 100%;
    border: 4px solid black;
    font-size: 0.8rem;
    text-align: center;

}

.content .right .div4 p:first-child{
    margin-left: 30%;
}


.content .right .div5{

    height: 10%;
} */


/*----- FOOTER -----*/