<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">

<title>Hot & Funny</title>

</head>
<body class="min-vh-100 d-flex flex-column">
	     <header th:replace="fragment/header :: header"></header>

	<main>
        <div class="container mt-3 pt-4 d-flex flex-column">
            <table class="table  text-center border">
                <thead>
                    <tr class="align-items-center">
                        <th class="custom-hover bg-black">
                            <a href="#" class="text-decoration-none text-white nav-link custom-atag icon-link-hover  d-flex justify-content-center">전체</a>
                        </th>
                        <th class="custom-hover bg-black">
                            <a href="#" class="text-decoration-none text-white nav-link custom-atag icon-link-hover  d-flex justify-content-center">공지사항</a>
                        </th>
                        <th class="custom-hover bg-black">
                            <a href="#" class="text-decoration-none text-white nav-link custom-atag icon-link-hover  d-flex justify-content-center">이벤트</a>
                        </th>
                        <th class="custom-hover bg-black">
                            <a href="#" class="text-decoration-none text-white nav-link custom-atag icon-link-hover  d-flex justify-content-center">Q&A</a>
                        </th>
                        
                    </tr>
                </thead>
            </table>

            <table class="table">
                <thead class="class">
                    <tr class="border">
                        <th class="fw-bold">번호</th>
                        <th class="fw-bold">카테고리</th>
                        <th class="fw-bold">제목</th>
                        <th class="fw-boldr">날짜</th>
                        <th class="fw-bold">조회수</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="event : ${eventList}">
                        <td th:text="${event.id}"></td>
                        <td th:text="${event.category}"></td>
                        <td><a th:text="${event.title}" th:href="@{'event/detail/' + ${event.id}}"></a></td>
                        <td th:text="${event.createdAt}"></td>
                        <td th:text="${event.hit}"></td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <div class="d-flex justify-content-end">
                <a href="/event/create" th:href="@{/event/create}"  th:if="${session.loginId != null && #strings.toString(session.loginId).contains('admin')}" class="btn btn-primary">글쓰기</a>
            </div>

            <div class="text-center mt-4">

                <ul class="pagination pagination-sm justify-content-center">
                        <li class="page-item" th:if="${pageDto.prev}">
                            <a class ="page-link text-black" href="#" th:href="${pageDto.cp.makeQueryString(pageDto.pageStart-1)}">이전</a>
                        </li>
                        <li class="page-item" th:if="${!pageDto.prev}">
                            <a class ="page-link text-black" href="#" onclick="alert('이전 페이지는 존재하지 않습니다.')" th:href="${pageDto.cp.makeQueryString(pageDto.cp.pageNum)}">이전</a>
                        </li>

                    <th:block th:with="pageDto = ${pageDto}">
                        <th:block  th:each="num : ${#numbers.sequence(pageDto.pageStart, pageDto.pageEnd)}">
                            <li class="page-item" th:classappend="${pageDto.cp.pageNum == num} ? 'active' :''">
                                <a class="page-link text-black" th:href="${pageDto.cp.makeQueryString(num)}" th:text="${num}"></a>
                            </li>
                        </th:block>
                    </th:block>

                    <li class="page-item" th:if="${pageDto.next}">
                        <a class ="page-link text-black" href="#" th:href="${pageDto.cp.makeQueryString(pageDto.pageEnd+1)}">다음</a>
                    </li>
                    <li class="page-item" th:if="${!pageDto.next}">
                        <a class ="page-link text-black" href="#" onclick="alert('다음페이지는 존재하지 않습니다.')" th:href="${pageDto.cp.makeQueryString(pageDto.cp.pageNum)}">다음</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-15 mt-2 mb-5">
                        <div class="box-body ml-4">
                            <form class="d-flex justify-content-center">
                                <select id='search_type' name="type" class="form-select me-1 w-auto border">
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                    <option value="writer">작성자</option>
                                </select>
                                <input class="form-control me-1 search-bar w-auto border" type="search" name="keyword" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success custom-button btn-outline-dark border" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

	 <footer th:replace="fragment/white_footer :: footer"></footer>
</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
