<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}">
    
    <title>Hot & Funny</title>
    
</head>
<body class="min-vh-100 d-flex flex-column">
        <header th:replace="fragment/header :: header"></header>
        <main>
            <form method="post" th:action="@{'/qna/delete/' + ${qna.id}}">
            <div class="container w-75 my-2 py-4">
                <div class="border-bottom-3">
                    <hr class="border-5 mt-5">
                    <div class="fw-bold text fs-2" th:text="${qna.title}">주문취소 부탁드립니다</div>
                    <div class="text-black-50">
                        <p th:text="${qna.writer} + ' ' + ${qna.createdAt}">홍길동 11시간 전</p>
                    </div>
                    <hr>
                    <div class="abc pt-5">
                        <div class="d-flex justify-content-center mt-5 pt-5"></div>
                        <div>
                            <p th:text="${qna.content}">홍길동 d-15 티켓 주문취소 환불 부탁드립니다</p>
                        </div>
                    </div>
                    <div class="d-flex mt-5 pt-5 justify-content-end">
                        <a href="/qna/edit" th:href="@{'/qna/edit/' + ${qna.id}}" th:if="${qna.writer == session.nickname}" class="btn btn-success me-1">수정</a>
                        <a href="/qna" th:href="@{/qna}" class="btn btn-outline-success btn-dark text-white me-1">목록</a>
                        <input type="submit" name="delete" class="btn btn-danger" th:if="${qna.writer == session.nickname}" value="삭제"/>
                    </div>
                </div>
            </div>
            </form>
        </main>

    <footer th:replace="fragment/white_footer :: footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
