@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/


.main-box{
    /* border: 5px solid red; */
}

.left-nav{



    /* border: 3px solid red; */
}

.left-nav a {
    margin-top: 20%;
    border: 1px solid black;
}



.container-content{
    
    /* width: 100%; */
    /* border: 0px solid pink; */
}

.card{
    border: 1px solid black;
}

.btn{
    margin-left: 1%;



}

/*----- FOOTER -----*/