@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {
    font-family: 'Pretendard', 'sans-serif';
}

.inline-div {
    display: inline-block;
}

.sub-header {
    outline: 0px solid red;
    width: 1200px;
    font-size: 0;
    cursor: default;
}
.sub-header :first-child {
    color: white;
}
.sub-header .sub-menu {
    outline: 1px solid black;
    height: 100px;
    width: 400px;
    font-size: 32px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

.content {
    font-size: 0;
    height: 690px;
    width: 1200px;
}

.content .seat-map {
    outline: 1px solid black;
    height: 690px;
    width: 800px;
    font-size: 16px;
}
.content .seat-map #back-pic{
    outline: 0px solid red;
    height: 670px;
    width: 780px;
    margin: 0 auto;
    margin-top: 10px;

    background-image: url(../img/seat_base1.jpg);
    background-size: cover;
    background-position: center;
}

/* -----------------------------좌석 디자인--------------------------------------------------------------- */
.content .seat-map #back-pic .container {
    margin: 0 auto;
    outline: 0px solid red;
    height: 350px;
    width: 640px;
    /* position: absolute; */
    position: relative;
    transform: translateX(27px) translateY(-118px);
    top: 246px;
    left: -32px;
}
.content .seat-map #back-pic .container .total-seat {
    position: absolute;
    outline: 0px solid green;
}
.row {
    display:flex;
    align-items: center;
    justify-content: center;
}
.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    outline: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.turn-r {
    transform: rotate(45deg);
}
.turn-l {
    transform: rotate(-45deg);
}
.seat-vip {
    background-color: yellow;
}
.seat-r {
    background-color: green;
}
.seat-s {
    background-color: purple;
}
.seat.selected {
    background-color: red;
    outline: 2px solid black;
}
.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}
.turn-r:not(.occupied):hover {
    transform: scale(1.2) rotate(45deg);
}
.turn-l:not(.occupied):hover {
    transform: scale(1.2) rotate(-45deg);
}
.seat.occupied {
    background-color: #fff;
}
/*------------------- 통행로 설정 --------------------*/
.center-seat > .row > .seat:nth-of-type(5) {
    margin-right: 18px;
}
.center-seat > .row > .seat:nth-last-of-type(5) {
    margin-left: 18px;
}
.center-seat > .row:nth-last-of-type(6) {
    margin-top: 18px;
}
.left-seat > .row > .seat:nth-of-type(8) {
    margin-right: 18px;
}
.right-seat > .row > .seat:nth-of-type(8) {
    margin-right: 18px;
}
/* ------------------------------------------------- */
.left-seat {
    height: 103px;
    width: 350px;
    transform: rotate(90deg);
    top: 132px;
    left: -121px;
}
.center-seat {
    height: 350px;
    width: 386px;
    top: 108px;
    left: 126px;
}
.right-seat {
    height: 103px;
    width: 350px;
    transform: rotate(-90deg);
    top: 132px;
    left: 411px;
}
/* --------------------------------------------------------------------------------------------------------- */



.content .seat-info {
    outline: 1px solid black;
    height: 690px;
    width: 400px;
    font-size: 16px;
    vertical-align: top; /* 글 넣을 시 위치 틀어짐 방지 */
    background-color: #ccc;
}
.content .seat-info .concert-info {
    outline: 0px solid red;
    height: 70px;
    width: 380px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}
.content .seat-info .concert-info p {
    outline: 0px solid purple;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
}
.content .seat-info .seat-remain {
    outline: 0px solid red;
    height: 180px;
    width: 380px;
    margin: 0 auto;
    margin-top: 10px;
}
/* 표 제목부분 */
.content .seat-info div p {
    font-size: 1.4rem;
    font-weight: bold;
    text-indent: 10px;
    outline: 0px solid orange;
}
.content .seat-info .seat-remain div {
    border: 0px solid green;
    margin-top: -20px;
}
.seat-remain-table {
    border: 0px solid black;
    width: 380px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}
.seat-remain-table tr:first-child p {
    background-color: yellow;
}
.seat-remain-table tr:nth-child(2) p {
    background-color: green;
}
.seat-remain-table tr:last-child p {
    background-color: purple;
}
table tr td:last-child {
    text-align: right;
    padding-right: 10px;
}
/* 좌석등급 색상표용 p 태그 */
table tr td p {
    border: 0px solid red;
    height: 20px;
    width: 20px;
    margin: 5px auto;
}
.seat-choice-table tr td {
    height: 50px;
    width: 100px;
}
.seat-choice-table tr td:last-child {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    width: 40px;
}
.seat-choice-table {
    border: 0px solid black;
    width: 380px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}
.content .seat-info .seat-choice {
    outline: 0px solid red;
    height: 250px;
    width: 380px;
    margin: 0 auto;
    margin-top: 10px;
}
.content .seat-info .seat-choice > p > span {
    font-size: 1rem;
    color: red;
    float: right;
    /* display: inline-block; */
}
.content .seat-info .seat-choice div {
    border: 0px solid green;
    margin-top: -20px;
}

.button-box {
    border: 0px solid orange;
    width: 380px;
    height: 50px;
    margin: 0 auto;
}
.button-box .choice-info {
    font-size: 16px;
    width: 380px;
    height: 25px;
    line-height: 25px;
    background-color: white;
    cursor: default;
    position: relative;
}
.button-box .choice-button {
    width: 380px;
    height: 50px;
    line-height: 50px;
    background-color: red;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
}
.button-box div {
    border: 0px solid greenyellow;
    border-radius: 5px;
    text-align: center;
    width: 160px;
    height: 40px;
    cursor: pointer;
}
.button-box .sub-button {
    margin-top: 2px;
    line-height: 40px;
    outline: 2px solid black;
}
.button-box div:last-child {
    margin-left: 53px;
}

/* 애니메이션 정의 */
@keyframes blinkAnimation {
    0%, 100% {
        background-color: red;
    }
    50% {
        background-color: orange;
    }
}
/* 버튼에 애니메이션 */
.blinking-button {
    animation: blinkAnimation 1s infinite;
}
  
.tooltip-content {
    display: none;
    position: absolute;
    top: -65px;
    left: 50px;
    background-color: rgba(119, 119, 119, 0.3);
    color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    font-size: 0.7rem;
}
  
.choice-info:hover .tooltip-content {
    display: block;
}