<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<header th:fragment="header">
    <nav class="bg-black navbar navbar-expand-lg navbar-dark" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
            <div class="col-3">
                <a href="" class="d-flex">
                    <img src="/static/img/concert_logo.png" th:src="@{/img/concert_logo.png}" class="img-fluid header-img-logo" alt="콘서트_이미지_로고">
                </a>
            </div>
            <button class="navbar-toggler bg-black" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end offcanvas-size-sm bg-black col-6" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h6 class="offcanvas-title text-white" id="offcanvasNavbarLabel">로그인이 필요합니다.</h6>
                    <div class="col-3 navbar justify-content-center user-nav">
                        <div class="d-flex">
                            <a href="/ticket" class="nav-link text-decoration-none text-white fw-semibold">
                                <i class="bi bi-ticket-detailed custom-atag fs-4"></i>
                            </a>
                            <a href="/accounts/login.html" class="nav-link text-decoration-none text-white fw-semibold mx-2">
                                <i class="bi bi-person custom-atag fs-4"></i>
                            </a>
                            <!-- <a href="#" class="nav-link text-decoration-none text-white fw-semibold custom-atag">회원가입</a> -->
                        </div>
                    </div>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 fs-5">
                        <li class="nav-item" th:if="${session.loginId != null && #strings.toString(session.loginId).contains('admin')}">
                            <a href="/admin" class="nav-link text-warning fw-semibold px-3">ADMIN</a>
                            <ul class="sub-menu">
                                <li><a href="/admin/userinfo" th:href="@{/admin/userinfo}">회원조회</a></li>
                                <li><a href="/admin/boardcontrol" th:href="@{/admin/boardcontrol}">게시글 관리</a></li>
                                <li><a href="/admin/refund" th:href="@{/admin/refund}">환불관리</a></li>
                                <li><a href="/admin/statistics" th:href="@{/admin/statistics}">통계자료</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/about" th:href="@{/about}" class="nav-link custom-atag px-3">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a href="/ticket" th:href="@{/ticket/home/calendar}" class="nav-link custom-atag px-3">TICKET</a>
                            <ul class="sub-menu">
                                <li><a href="" th:href="@{/ticket/home/calendar}">티켓예매</a></li>
                                <li><a href="" th:href="@{/user/myticket}">구매내역</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/notice" class="nav-link custom-atag px-3">FORUM</a>
                            <ul class="sub-menu">
                                <li><a href="" th:href="@{/notice}">공지사항</a></li>
                                <li><a href="" th:href="@{/qna}">QNA</a></li>
                                <li><a href="" th:href="@{/event}">이벤트</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" th:href="@{/contact}" class="nav-link custom-atag px-3">CONTACT</a>
                        </li>
                    </ul>
                    <div class="col-4 navbar-nav justify-content-end user-nav pe-3">
                        <a href="/ticket" class="nav-link custom-nav" th:href="@{/ticket/home/calendar}">티켓예매</a>
                        <a th:if="${!session.isEmpty() && !#strings.toString(session.loginId).contains('admin')}" th:href="@{/user/myinfo}" class="nav-link custom-nav">마이페이지</a>
                        <a th:if="${session.isEmpty()}" href="/accounts/login" th:href="@{/user/login}" class="nav-link custom-nav">로그인</a>
                        <a th:if="${!session.isEmpty()}" th:href="@{/user/logout}" class="nav-link custom-nav">로그아웃</a>


                    </div>
                    <div class="col-1 d-flex align-items-center justify-content-end fs-2 pe-4 footer-icon user-nav">
                        <a href="https://github.com/teamJoongang/Hot-And-Funny" class="text-secondary pe-3"><i class="bi bi-github"></i></a>
                        <a href="https://hyunsense.notion.site/hyunsense/fd8584dc0730455aa340d328dba8beb6" class="">
                            <img class="notion" src="/img/notion_icon2.png" th:src="@{/img/notion_icon2.png}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

</body>
</html>