<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/ticket_check.css">
    <title>PurchaseTicket</title>
</head>
<body>
    <header class="logo">
        <img src="./static/img/concert_logo_final2.png" alt="">
    </header>
    <div>
        <form class="ticket">
            <div class="ticket-left">
                <div class="ticket-left-header">
                    <span class="ticket-name">오페라의 유령</span>
                    <img class="QR" src="./static/img/QR.png" alt="">
                </div>
                <div class="ticket-left-uuid">abcde12(uuid)</div>
                <ul class="ticket-left-content">
                    <li>장소 <span class="concert-site">서울시 강서구 양천로 125 문화세종예술관 B1F</span></li>
                    <li>일시 <span class="concert-date">2023-01-01</span></li>
                    <li>좌석 <span class="concert-seat">A-13</span></li>
                </ul>
     
            </div>
            <div class="ticket-right">
                <div class="ticket-right-uuid">
                    No.UUID
                </div>
                <hr>
                <ul class="ticket-right-content">
                    <li> 콘서트 명 <span class="concert-name">오페라의 유령</span></li>
                    <li> 일시 <span class="concert-date">2023-01-01</span></li>
                    <li> 좌석 <span class="concert-seat">A-13</span></li>
                </ul>
            </div>
        </form>
        <form class="ticket">
            <div class="ticket-left">
                <div class="ticket-left-header">
                    <span class="ticket-name">오페라의 유령</span>
                    <img class="QR" src="./static/img/QR.png" alt="">
                </div>
                <div class="ticket-left-uuid">abcde12(uuid)</div>
                <ul class="ticket-left-content">
                    <li>장소 <span class="concert-site">서울시 강서구 양천로 125 문화세종예술관 B1F</span></li>
                    <li>일시 <span class="concert-date">2023-01-01</span></li>
                    <li>좌석 <span class="concert-seat">A-13</span></li>
                </ul>
     
            </div>
            <div class="ticket-right">
                <div class="ticket-right-uuid">
                    No.UUID
                </div>
                <hr>
                <ul class="ticket-right-content">
                    <li> 콘서트 명 <span class="concert-name">오페라의 유령</span></li>
                    <li> 일시 <span class="concert-date">2023-01-01</span></li>
                    <li> 좌석 <span class="concert-seat">A-13</span></li>
                </ul>
            </div>
        </form>
        <form class="ticket">
            <div class="ticket-left">
                <div class="ticket-left-header">
                    <span class="ticket-name">오페라의 유령</span>
                    <img class="QR" src="./static/img/QR.png" alt="">
                </div>
                <div class="ticket-left-uuid">abcde12(uuid)</div>
                <ul class="ticket-left-content">
                    <li>장소 <span class="concert-site">서울시 강서구 양천로 125 문화세종예술관 B1F</span></li>
                    <li>일시 <span class="concert-date">2023-01-01</span></li>
                    <li>좌석 <span class="concert-seat">A-13</span></li>
                </ul>
     
            </div>
            <div class="ticket-right">
                <div class="ticket-right-uuid">
                    No.UUID
                </div>
                <hr>
                <ul class="ticket-right-content">
                    <li> 콘서트 명 <span class="concert-name">오페라의 유령</span></li>
                    <li> 일시 <span class="concert-date">2023-01-01</span></li>
                    <li> 좌석 <span class="concert-seat">A-13</span></li>
                </ul>
            </div>
        </form>
        <form class="ticket">
            <div class="ticket-left">
                <div class="ticket-left-header">
                    <span class="ticket-name">오페라의 유령</span>
                    <img class="QR" src="./static/img/QR.png" alt="">
                </div>
                <div class="ticket-left-uuid">abcde12(uuid)</div>
                <ul class="ticket-left-content">
                    <li>장소 <span class="concert-site">서울시 강서구 양천로 125 문화세종예술관 B1F</span></li>
                    <li>일시 <span class="concert-date">2023-01-01</span></li>
                    <li>좌석 <span class="concert-seat">A-13</span></li>
                </ul>
     
            </div>
            <div class="ticket-right">
                <div class="ticket-right-uuid">
                    No.UUID
                </div>
                <hr>
                <ul class="ticket-right-content">
                    <li> 콘서트 명 <span class="concert-name">오페라의 유령</span></li>
                    <li> 일시 <span class="concert-date">2023-01-01</span></li>
                    <li> 좌석 <span class="concert-seat">A-13</span></li>
                </ul>
            </div>
        </form>
    </div>
    <div>
        <button class="btn-home">홈으로</button>
    </div>
</body>
</html>