/********************************
        공통 요소 설정
*********************************/

html , body {
  height: 100%;
}

ul , li {
    list-style: none;
}

/* accounts의 모든 페이지 배경설정 */
#securityBody {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 7%, rgba(88,9,121,1) 59%, rgba(22,156,184,1) 100%);
}

/***** input 설정들 *****/

/* input 타입 number를 숫자만 입력받는 용로도 사용하기 위해 증감버튼 삭제*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input 안 placeholder 설정 */
input::placeholder {
    color: #ccc;
    font-size: 0.9375em;
}

/* input의 focus 적용시 placehoder 사라지도록, 투명하게. */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { /* WebKit browsers */
  color:transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:transparent;
}

/* bootstrap .form-control의 focus 아래의 설정으로 재설정  */
.form-control:focus , .form-control:hover{
  border-color: #ea10a0;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(234, 16, 160, 0.476);
}

/********************************
        login page
*********************************/

/* 로그인 페이지 버튼 개인 설정  */
#loginBtn {
    width: 50%;
    background-image: linear-gradient(to right , #de29e6 , #9816c8);
}

#loginBtn:hover {
    box-shadow: 0 0 0 0.25rem rgba(234, 16, 161, 0.476);
    color: black !important;
}

#kakaoLoginBtn {
  background-color: #fee500;
}

#naverLoginBtn {
  background-color: #03c75a;
}

/********************************
        finduser page
*********************************/

/* 아이디 / 비밀번호 찾기 wrap 설정 */
#findBoxSelecter {
    /* border: 1px solid black; */
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

/* 각 버튼의 설정값 */
#findBoxSelecter > li {
    /* background: #CCC; */
    color: white;
    margin: 0;
    width: 40%;
    border-radius: 1rem;
}

#findBoxSelecter > li:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.476);
  color: black;
  font-weight: bold;
}

/*  */
.findBtnBox {
    display: flex;
    justify-content: center;
}

/* findBtn / 하단 send 버튼들의 설정 */
.findBtnBox > button {
    width: 50%;
    background-image: linear-gradient(to right , #de29e6 , #9816c8);
    color: white;
    
}

.findBtnBox > button:hover {
    box-shadow: 0 0 0 0.25rem rgba(234, 16, 161, 0.476);
    color: black !important;
}

/* 아이디 찾기 양식은 기본 block */
#findUserId {
  display: block;
}
/* 비밀번호 찾기 양식은 기본 none */
#findUserPassword {
  display: none;
}

/********************************
        signup page
*********************************/

/* 통신사 선택 박스 */
#mobile_carrier:hover {
  cursor: pointer;
}

#mobile_carrier > div:hover {
  box-shadow: 0 0 0 0.25rem rgba(234, 16, 161, 0.476);
  color: black !important;
}

#mobile_carrier > div {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}