
/* 통신사 선택 박스 */
#mobile_carrier:hover {
    cursor: pointer;
}

#mobile_carrier > div:hover {
    box-shadow: 0 0 0 0.25rem rgba(234, 16, 161, 0.476);
    color: black !important;
}


/* input 타입 number를 숫자만 입력받는 용로도 사용하기 위해 증감버튼 삭제*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#mobile_carrier > div {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}