@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {

    width: 1200px !important;
    height: 800px !important;

}

.mini-logo {

    width: 10%
}

.calc-icon {

    border-radius: 50%;
    background-color: #adb5bd;
    color: white;
    position: relative;
    right: 50%;

}
