ul , li {
    list-style: none;
}

.sidebar_link {
    text-decoration: none;
    color: black;
}

.sidebar_link:visited {
    color: black;
}

/* body , footer 처방으로 일단 임시방편 해제 */
/* body , html {
    height: 100%;
}

#wrap {
    min-height: calc(100%);
} */

/* 테이블 설정 bootstrap5 table 효과로 일부 대체 */

table {
    /* border: 1px solid black !important; */
    border-collapse: collapse !important;
    font-size: small;
    width: 100% !important;
    overflow: auto;
}

/*
table > thead {
    margin-bottom: 2.5rem;
}

th {
    border-bottom: 1px dashed black;
}

th , td {
    border: 1px solid black;
    text-align: center;
}

td {
    border-bottom: 1px dashed black;
    border: 1px dashed black;
}  */


table >tbody > tr:hover{
    cursor: pointer;
    /* font-weight: bold; */
    /* line-height: 19.5px;
    font-size: 12px; */
}




/********************************
        mypage page
*********************************/
/* 내 정보 사이드 메뉴바 설정 */
#mypage_menu {
    text-align: center;
    width: 100%;
}

#mypage_menu > a {
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#mypage_menu a:hover {
    /* border-color: #ea10a0; */
    /* outline: 0; */
    /* box-shadow: 0 0 0 0.25rem rgba(234, 16, 160, 0.476); */
    cursor: pointer;
    color: #f517fe !important;
    font-weight: bold;
}

#mypage_menu > a::after {
    display: block !important;
    content: '' !important;
    border-bottom: solid 2px #f517fe !important;  
    transform: scaleX(0) !important;  
    transition: 0.2s ease-in-out !important;
    transform-origin: 0% 50% !important;

}

#mypage_menu > a:hover:after {
    transform: scaleX(1) !important;
}

/* 등록버튼은 처음에 안보이도록 */

#saveBox , #modifyBox {
    text-align: center;
}
#saveBox {
    display: none;
}

/* 1200px 이하라면 아래의 설정을 적용. */

/* 내정보 사이드 메뉴바 설정 */
@media screen and (max-width: 1200px) {

    #mypage_menu {
        padding: 0px !important;
        margin: 0px !important;
        display: flex;
    }

    /* #mypageContentBox {
        min-width: 570px;
     } */

     /* min-width: ; 작은 화면 크기 최소 너비 */
    #mypage_menu > a {
        margin-right: 1rem;
        margin-left: 1rem;
        width: 20%;
    }
    


    /* 모든 테이블 설정 */
    table {
        word-break: break-all;
        height: auto;
    }
}

/* 모든 radio 버튼 설정 */
.chk_input {
    margin-left: 0.5rem;
}

/********************************
        userout page
*********************************/

/* 회원탈퇴 용어 목록 설정 */
dl {
    border: 1px solid black;
    text-align: left;
}

/* 기타 양식 입력창 */
#etcText {
    /* border: 1px solid black !important; */
    border: none;
    height: 2.5rem;
    width: 50%;
    font-size: 1.5rem;
}

#selectUserOutReason {
    border-radius: 0.5rem;
    text-indent: 1rem;
}

#etcBox {
    display: none;
}














