@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
* {
    margin: 0;
    margin-top: 0;
    list-style: none;
    font-family: 'Pretendard', 'sans-serif';
}
body {
    margin-top: 8px;
    margin-left: 9px;
}
/* <--------- header ---------> */
.inline-div {
    display: inline-block;
}

.sub-header {
    outline: 0px solid red;
    width: 1200px;
    font-size: 0;
    display: flex;
}
.sub-header :nth-child(2) {
    color: white;
}
.sub-header .sub-menu {
    outline: 1px solid black;
    height: 100px;
    width: 400px;
    font-size: 32px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
}

/* <--------- content ---------> */
.content {
    height: 690px;
    width: 1200px;
    display : inline-block;
    outline: 1px solid black;
}
/* <--------- confirm - left ---------> */
.content-left {
    width : 798px;
    height : 690px;
    float : left;
    border-right : 0px dotted black;
    padding-top: 10px; 
}
.left-upper {
    outline: 0px solid purple;
    width: 780px;
    height: 390px;
    position: relative;
    padding-left: 10px;
}
.menu-title {
    padding-left: 10px;
    border: 0px solid #eeeeee;
    height: 20px;
    width: 769px;
    font-weight: bold;
}

/* 표 공통 스타일 */
.ticket-discount-table {
    border-collapse: collapse;
    width: 780px;
    margin-top: 2px;
}
.ticket-discount-table th {
    background-color: lightgray;
}
.ticket-discount-table th:first-child {
    width: 50px;
}
.ticket-discount-table tr {
    border-bottom: 1px solid black;
}
.ticket-discount-table td {
    border-right: 1px solid #ccc;
}
.ticket-discount-table .left-align {
    text-align: left;
}
.ticket-discount-table tbody .w80 {
    width: 80px;
    background-color: #eeeeee;
    text-align: center;
}
.ticket-discount-table tbody .w450 {
    width: 450px;
    text-align: left;
}
.ticket-discount-table th, .ticket-discount-table td {
    padding: 5px;
    text-align: center;
}
.ticket-discount-table th {
    width: 40px;
}

/* left-down 환불정책 부분 */
.content-left .left-down {
    border: 0px solid green;
    padding-top: 8px;
    padding-left: 10px;
}
.bottom-line {
    border-bottom : 3px solid black;
}
.left-down .refund-policy, .left-down .refund-footer {
    border: 1px dotted black;
    width: 769px;
    padding: 5px;
    background-color: #eeeeee;
}
.left-down .refund-policy p, .left-down .refund-footer p {
    font-size: 0.7rem;
    margin-top: 2px;
}

.left-down .refund-policy {
    height: 165px;
}
.left-down .refund-policy p > span {
    border: 0px solid red;
    border-radius: 100%;
    background-color: red;
    color: white;
    text-align: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    vertical-align: middle; /* 수평 중앙 정렬 */
    font-weight: bold;
}
.left-down .refund-policy ul li > span {
    color: red;
}
.left-down .refund-policy li {
    font-size: 0.7rem;
    margin-top: 2px;
}
.left-down .refund-footer {
    height: 60px;
}
.left-down .refund-footer > p {
    margin-top: 10px;
}


/* <----------------------- right ---------------------> */
.content-right {
    width : 400px;
    height : 100%;
    float : right;  
    background-color: #ccc;
    border-left: 1px dotted black;
}
.content-right .concert-info {
    border: 0px solid red;
    width: 380px;
    height: 140px;
    padding: 10px;
    display: flex;
    margin-top: 20px;
}
.poster {
    outline: 0px solid red;
    width : 100px;
}
.poster img {
    width : 100%;
}
.concert-info .concert-info-title {
    border: 0px solid green;
    padding: 10px;
}
.bold-text {
    font-weight: bold;
    font-size: 1.2rem;
}
.content-right .ticket-info {
    border: 0px solid red;
    width: 380px;
    padding: 10px;
}
.my-ticket-table {
    width: 380px;
    text-indent: 5px;
}
.my-ticket-table td {
    padding: 5px;
    border-bottom: 1px solid black;
}
.my-ticket-table td:first-child {
    width: 120px;
    border-right: 1px solid black;
}
.my-ticket-table td:last-child {
    background-color: white;
}


.my-ticket-table tr:last-child {
    background-color: #777;
    height: 70px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
.my-ticket-table tr:last-child td:last-child {
    background-color: #bbb;
    text-align: right;
}
.my-ticket-table tr:last-child td:last-child span {
    font-size: 1.4rem;
    color: rgb(255, 208, 0);
}
.button-box {
    border: 0px solid red;
    width: 380px;
    height: 140px;
    padding: 10px;
    display: flex;
}
.button-box div {
    border: 0px solid black;
    border-radius: 8px;
    width: 186px;
    height: 60px;
    text-align: center;
    margin-top: 30px;
    line-height: 60px;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}
.button-box .pre-view-btn {
    background-color: #777;
}
.button-box .next-view-btn {
    background-color: red;
    margin-left: 4px;
}
/* 애니메이션 정의 */
@keyframes blinkAnimation {
    0%, 100% {
        background-color: red;
    }
    50% {
        background-color: orange;
    }
}
/* 버튼에 애니메이션 */
.blinking-button {
    animation: blinkAnimation 1s infinite;
}
