@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
body {

    font-family: 'Pretendard', 'sans-serif';
}

/* ----- HEADER ----- */



/*----- MAIN -----*/

.left-nav{
    color: #444444d8;
    color: rgba(37, 37, 37, 0.699);
    margin-top: 40%;
}


.left-nav div{
    width: 100%;

}
.left-nav div a{
    width: 100%;

}

.left-nav div a:hover{
    background-color: rgb(190, 190, 190);



}


/* 본문 왼쪽 테이블 작업공간 
.content .left */
.content .left{
    /* border: 5px solid pink; */
    width: 100%;
}


.content .left table th{
    border: 1px solid black;
}

.content .left tr{
    border: 1px solid black;
}

.content .left td{
    border: 1px solid black;
}







/*----- FOOTER -----*/


.content-box{
    height: 50rem;
}