@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Pretendard', 'sans-serif';
}
body {  
    width : 1200px;
    overflow : auto;
}
.logo {
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100px;
    background-color: black;
}
.ticket { 
    display : inline-block;
    width : 700px;
    height : 200px;
    margin-top : 30px;
    margin-left : 250px;
    border: 1px solid black;
}
.ticket-left {
    float : left;
    width : 70%;
    height : 100%;
    border-right: 1px dotted black;
}
.ticket-left-header {
    height : 80px;
}
.ticket-name {
    font-size : 3rem;
    margin-left : 10px;
    line-height : 80px;
    font-weight: 800;
}
.ticket-left-uuid {
    width: 80%;
    height : 20px;
    line-height: 20px;
    margin-left : 20px;
}
.QR {
    float : right;
    width : 15%;
}
.ticket-left-content {
    font-size : 1.2rem;
    display : inline-block;
    width : 100%;
    height : 120px;
    margin-top : 10px;

}
.ticket-left-content li {
    font-size : 1rem;
}
.ticket-left-content :first-child {
    width : 90%;
}
.ticket-left-content :nth-child(2){
    width : 90%;
}
.ticket-left-content :nth-child(3){
    width : 90%;
}
.ticket span {
    font-weight: 500;
    margin-left : 30px;
}
.ticket-right {
    float : right;
    width : 30%;
    height : 100%;
}

.ticket-right-uuid {
    font-size : 0.7rem;
    font-weight: 700;
    line-height: 20px;
    margin-top : 10px;
    margin-left : 10px;
    height : 15%;
}

.ticket-right-content {
    margin-top : 10px;
    font-size : 0.8rem;
    font-weight: 500;
}
.ticket-right-content li {
    margin-top : 20px;
    margin-left : -20px;
}
.ticket-right-content span {
    float : right;
    margin-right : 20px;
}
.btn-home {
    width : 100px;
    height : 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.btn-home:hover {
    cursor : pointer;
    background-color: black;
    color : white;
}