<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--부트스트랩 반응형 제거를위한 메타태그 주석처리-->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="/css/contact.css" th:href="@{/css/contact.css}">
    <title>Hot & Funny</title>
</head>
<body class="bg-black">
<header th:replace="fragment/header_index :: header"></header>

<!-- 그리드 사용시 모두 col-xs-*로 변경 Ex) col-md-6 -> col-xs-6 -->
    <main class="min-vh-100"> <!--시간되면 효과추가-->
        <h1 class="title text-center my-5 py-5">CONTACT</h1>
        <div class="container-sm">
            <hr style="color: #fefefe;">
        </div>
        <section class="container section-content my-5 py-4">
            <div class="d-flex justify-content-center">
                <div class="row flex-fill">
                    <div class="col-6">
                        <div class="mb-3">
                            주소
                        </div>
                        <div>
                            서울시 마포구 신촌로 176 중앙정보처리학원  601호, 핫앤퍼니(주)
                        </div>
                        <div>
                            6F, 176, Sinchon-ro, Mapo-gu, Seoul, Republic of Korea 
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-3">
                            대표 전화
                        </div>
                        <div>
                            +82 2-313-1711
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-3">
                            공식 홈페이지
                        </div>
                        <div>
                            http://www.choongang.co.kr/
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-flex">
            <div class="mx-auto">
                <img src="/img/map.png" th:src="@{/img/map.png}" class="custom-map" alt="map">
            </div>
        </section>
            
    </main>

<footer th:replace="fragment/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>