.card {
    width: 18rem;
    margin-bottom: 20px;
}



.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.1rem;
}

.text-center {
    text-align: center;
   
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: space-between;
}


