<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../../static/css/payment_check.css" th:href="@{/css/payment_check.css}">
    <script src="https://kit.fontawesome.com/9547cb8259.js" crossorigin="anonymous"></script>
    <title>PurchaseConfirm</title>
</head>
<body>
    <div class="sub-header">
        <div class="sub-menu">좌석 선택</div>
        <div class="sub-menu"  style="background-color: red;">예매 내역 확인</div>
        <div class="sub-menu">결제</div>
    </div>
    <div class="content">
        <div class="content-left">
            <div class="left-upper">
                <p class="menu-title">가격</p>

            </div>
            <div class="left-down">
                <div>
                    <p class="menu-title bottom-line">취소 수수료 안내</p>
                    <div class="refund-policy">
                        <p><span>01 </span> 예매 당일 밤 12시까지 취소시에는 취소수수료가 없습니다.</p>
                        <p><span>02 </span> 예매후 7일까지 취소시에는 취소수수료가 없습니다. <br>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 단, 관람일 9일 이내의 경우는 (4)번의 기준이 우선 적용됩니다.</p>
                        <p><span>03 </span> 관람일 10일전까지 취소시에는 티켓당 고정금액으로 취소수수료가 부과됩니다. (단, 티켓금액의 10%를 초과하지 않습니다)</p>
                        <p><span>04 </span> 관람일 9일 이내 취소시에는 다음과 같이 취소수수료가 부과됩니다.</p>
                        <ul>
                            <li>-관람일 7일전까지 : 티켓금액의 <span>10%</span></li>
                            <li>-관람일 3일전까지 : 티켓금액의 <span>20%</span></li>
                            <li>-관람일 1일전까지 : 티켓금액의 <span>30%</span></li>
                        </ul>
                    </div>
                    <div class="refund-footer">
                        <p>▶ 예매수수료는 예매일 이후 취소시에는 환불되지 않습니다.</p>
                        <p>▶ 특정상품의 경우 취소 정책 및 취소수수료 정책이 달라질 수 있습니다. 상품별 취소 정책을 자세히 확인해주세요.
                        </p>
                    </div>

                </div>
            </div>
            
        </div>
        <div class="content-right">
            <div class="concert-info">
                <div class="poster">
                    <img src="../../static/img/concert_ticket2.png" alt="" th:src="@{/img/concert_ticket2.png}">
                </div>
                <div class="concert-info-title">
                    <p class="bold-text">Hot & Funny 페스티벌</p>
                    <p>&nbsp</p>
                    <p>2023.09.15</p>
                    <p>중앙정보처리학원 601호</p>
                    <p>만 15세 이상 </p>
                    <p>관람시간 : 60분 </p>
                </div>
            </div>
            <div class="ticket-info">
                <p class="bottom-line bold-text">나의 예매 정보</p>
                <table class="my-ticket-table" border="0">
                    <tbody>
                        <tr>
                            <td>일시</td>
                            <td><p>2023년 09월 15일 (화)</p>
                            <p>20:00</p></td>
                        </tr>
                        <tr>
                            <td>선택좌석<br>&nbsp
                                (<span>4</span>)석</td>
                            <td class="ticket-view">
                                <p><span id="t1-grade"></span><span id="t1-num"></span></p>
                                <p><span id="t2-grade"></span><span id="t2-num"></span></p>
                                <p><span id="t3-grade"></span><span id="t3-num"></span></p>
                                <p><span id="t4-grade"></span><span id="t4-num"></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>티켓금액</td>
                            <td>드롭다운 선택시 활성화</td>
                        </tr>
                        <tr>
                            <td>수수료</td>
                            <td>드롭다운 선택시 활성화</td>
                        </tr>
                        <tr>
                            <td>배송료</td>
                            <td>default : null</td>
                        </tr>
                        <tr>
                            <td>총 결재금액</td>
                            <td><span>0</span> 원</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button-box">
                <div class="pre-view-btn"><i class="fa-solid fa-chevron-left"></i>이전단계</div>
                <div class="next-view-btn">결제하기<i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
    </form>
    <script src="../../static/js/payment_check.js" th:src="@{/js/payment_check.js}"></script>
</body>
</html>